{% extends 'base.html' %}

{% block title %}Home - Portfolio{% endblock %}

{% block content %}
<section id="about">
  <div class="container">
    <h2>About Me</h2>
    <p>Hello! I’m Von Jairus A. Cabales, Inspiring Computer Engineer </p>
  </div>
</section>

<section id="projects">
  <div class="container">
    <h2>Projects</h2>
    <div class="project">
      <h3>Project 1</h3>
      <p>Description of the project. [Add a link to the GitHub repository or live demo]</p>
      <a href="https://github.com/yourusername/project1" target="_blank">View Project</a>
    </div>
    <div class="project">
      <h3>Project 2</h3>
      <p>Description of the project. [Add a link to the GitHub repository or live demo]</p>
      <a href="https://github.com/yourusername/project2" target="_blank">View Project</a>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <h2>Contact</h2>
    <p>Feel free to reach out to me on:</p>
    <ul>
      <li><a href="cabalesjairus@gmail.com">Email</a></li>
      <li><a href="https://github.com/vonjairuscabales.github.io" target="_blank">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/von-jairus-cabales-783197140/" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
</section>
{% endblock %}
